body {
    background-color: #1a3a6b;
    font-family: 'Orbitron', sans-serif;
    color: #e0eaff;
}

#player {
    max-width: 550px;
    margin: 50px auto;
    padding: 45px;
    background-color: #1e4d8c;
    border: 2px solid cyan;
    border-radius: 25px;
}


button {
    background-color: #1a3a6b;
    color: white;
    padding: 10px 20px;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid cyan;
    border-radius: 25px;
    box-shadow: 0 0 10px cyan;
}

#volume {
    display: block;
    margin-top: 10px;
    width: 100%;
}

input[type="range"] {
    accent-color: white;
}


input[type="range"]::-moz-range-track {
    background-color: black;
}